body {
    cursor: url('../src/assets/key.png'), auto;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.entry-page {
    width: 100%;
    height: 100vh;
    background-color: black;
}


.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.keyhole-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.keyhole-container img {
    max-width: 40%;
    max-height: 40%;
}

.unlock-text {
    color: rgb(252, 185, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
    text-shadow: 0 0 10px #faf5d9, 0 0 20px #faf5d9, 0 0 30px #faf5d9, 0 0 40px #faf5d9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.keyhole-container:hover .unlock-text {
    opacity: 1;
}

@keyframes cursorGlitter {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.2;
        transform: scale(2);
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0
}

.hummingbirdvideo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Styling for the hummingbird animation */
@keyframes flyAwayAndReturn {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 768px) {
    .video-background {
        object-fit: contain;
    }
}

/* Styling for navigation links */
nav, nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(133, 105, 105);
    cursor: pointer;
    height: 40px;
}

nav:hover, nav a:hover {
    color: #c00d0d;
}

/* .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 100; 
} */


/* Home.css */

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.tagline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.top-content,
.bottom-content {
    border: 2px solid #000;
    /* i added borders for visualization */
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .content-container {
        grid-template-columns: 1fr;
    }
}

.resume-download {
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(133, 105, 105);
    font-weight: bold;
}

.resume-download:hover {
    color: #c00d0d;
}

.social-icons a {
        margin: 0 10px;
    font-size: 24px;
    color: #333;
}

.social-icons a:hover {
    color: #c00d0d;
    /* LinkedIn blue for hover */
}

.audio-control {
    margin-left: 100px;
}


/* Portfolio Page */
.portfolio-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

.portfolio-item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.item1 {
    grid-column: span 2;
    grid-row: span 1;
}

.item2 {
    grid-column: span 1;
    grid-row: span 2;
}

.item3 {
    grid-column: span 1;
    grid-row: span 1;
}

.item4 {
    grid-column: span 1;
    grid-row: span 1;
}

.item5 {
    grid-column: span 1;
    grid-row: span 1;
}

.item6 {
    grid-column: span 1;
    grid-row: span 1;
}

.item7 {
    grid-column: span 1;
    grid-row: span 1;
}

/* About Me */
.top-section {
    flex-direction: column;
    align-items: left;

}

.profile-image {
    margin-left: 110px;
    margin-top: 60px;
    margin-bottom: 40px;
    
}

.text-blocks p {
    margin-left: 40px;
    padding: 15px 15px 15px 15px;
}

.bottom-section {
    background-size: cover;
    background-position: center;
}


.about-me {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#aboutMeVideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* ContactForm */
.contact-form-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 60%;

}.contact-form {
    width: 80%;
    max-width: 400px; 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    transition: border-color 0.2s;
}

input:focus,
textarea:focus {
    border-color: rgb(133, 105, 105);
}

textarea {
    resize: vertical;
}

.button {
    background-color: rgb(133, 105, 105);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgb(133, 105, 105);
}